.splash-logo {
    margin: auto;
    background: url('../../../assets/img/appicon.png') repeat transparent;
    background-size: 100%;
    width: 100px;
    height: 100px;
    display: block;
  }
  
  .welcomeText{
      margin-top:-4px;
      margin-bottom:30px;
  }
  .loginwrp{
      cursor: pointer;
  }
  
  .login-btn{
    padding-top:50px;
  }
  .login-text-top{
    padding-top: 50px;
  }
  .havin-account-option{
      text-align: center;
      cursor: pointer
  }