<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
  <!-- end of main header toolbar -->
</ion-header>
<ion-content>
  <!-- upper  wrapper -->
  <ion-card class="dashboard-upper">
    <ion-card-content>
      <ion-row>
        <ion-col size="2">
          <div>
            <div class="hero-avatar">
              <img src="../../../assets/img/appicon.png" alt="Speaker profile pic">
            </div>
          </div>
        </ion-col>
        <ion-col>
          Nazeh Abel
          <!-- avatar email address -->
          <p class="user-email">Nazehabel@gmail.com</p>
          <ion-button size="small" class="edit-btn" shape="round" fill="outline" (click)="editProfile()">Edit Profile
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <!-- end of  upper wrapper -->
  <!-- middle wrapper -->
  <div class="dashboard-middle">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          <ion-row>
            <ion-col>Today</ion-col>
            <ion-col>{{today | date}}</ion-col>
          </ion-row>
        </ion-card-subtitle>
        <hr>
      </ion-card-header>
      <!-- icons and text for navigations -->
      <ion-card-content>
        <ion-row class="submenu">
            <ion-col class="wrapper" (click)="navLove()">
            <div class="inline-block-sub">
              <!-- Mini icon and text for love -->
              <ion-icon name="heart" class="love"></ion-icon>
            </div>
            <p class="text-label">Love</p>
          </ion-col>
          <ion-col class="wrapper" (click)="navPrayers()">
            <div class="inline-block-sub">
              <!-- Mini icon and text for prayers -->
              <ion-icon name="bonfire" class="prayers"></ion-icon>
            </div>
            <p class="text-label">Prayers</p>
          </ion-col>
          <ion-col class="wrapper" (click)="navRequests()">
            <div class="inline-block-sub">            
              <ion-icon name="people" class="requests"></ion-icon>              
            </div>
            <p class="text-label">Connect</p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- end of the middle wp -->

  <!--dashboard bottom container wp -->
  <div class="dashboard-bottom">
    <ion-card>
      <!-- icons and text for navigations -->
      <ion-card-content>
        <ion-row>
          <ion-col class="wrapper" (click)="navDailyNudget()">
            <div class="inline-block daily-nudget">
              <!-- Mini icon and text for Insight -->
              <!-- <ion-fab-button size="small" color="dark" class="icon-wp"> -->
              <ion-icon name="add" class="insight"></ion-icon>
              <!-- </ion-fab-button> -->
            </div>
            <p class="text-label">Daily Nudget</p>
          </ion-col>
          <ion-col class="wrapper" (click)="navDailyVerses()">
            <div class="inline-block daily-verses">
              <!-- Mini icon and text for Verses -->
              <!-- <ion-fab-button size="small" color="light" class="icon-wp bookmark-wp"> -->
              <ion-icon name="bookmark" class="bookmark"></ion-icon>
              <!-- </ion-fab-button> -->
            </div>
            <p class="text-label">Daily Verse</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="wrapper" (click)="wordClips()">
            <div class="inline-block daily-words">
              <!-- Mini icon and text for Verses -->
              <!-- <ion-fab-button size="small" color="secondary" class="icon-wp"> -->
              <ion-icon name="rose" class="verses"></ion-icon>
              <!-- </ion-fab-button> -->
            </div>
            <p class="text-label">Word Clips</p>
          </ion-col>
          <ion-col class="wrapper" (click)="navPushNetwork()">
            <div class="inline-block  push-network">
              <!-- Mini icon and text for motivation -->
              <!-- <ion-fab-button size="small" color="success" class="icon-wp"> -->
              <ion-icon name="quote" class="motivation"></ion-icon>
              <!-- </ion-fab-button> -->
            </div>
            <p class="text-label">Push Network</p>
          </ion-col>

        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- end of bottom dashboard -->
</ion-content>