<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/dashboards"></ion-back-button>
    </ion-buttons>
    <ion-title>Love</ion-title>
  </ion-toolbar>
  <!-- end of main header toolbar -->
</ion-header>

<ion-content padding>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi rerum ad id error expedita illo quibusdam at, ullam necessitatibus ipsum animi, nemo consequuntur obcaecati aliquam et pariatur corrupti laboriosam temporibus.
</ion-content>
