.splash-logo {
  margin: auto;
  background: url('../../assets/img/KSI LOGO.png') repeat transparent;
  background-size: 100%;
  width: 100px;
  height: 100px;
  display: block;
}

.welcomeText{
    margin-top:-4px;
    margin-bottom:30px;
    text-align: center;
}
.loginwrp{
    cursor: pointer;
}


.havin-account-option{
    text-align: center;
    cursor: pointer
}
.input-control{
  height: 54px;
  border-radius: 10px;
}
.ellipse svg{
  height:100vh;
  left: 0;
  width: 100%;
  position: absolute;
  bottom: -11%;
}
.btn-primary{
  --background:#fff;
  color:#3bc7c4;
  --border-radius: 25px;
}
.hr-line{
  width: 80px;
  height: 1px;
  background: #3bc7c4;
  margin:-26px auto;
}
.ellipse{
  padding-top: 30px;
width: 100%;
color: #ffffff;
position: absolute;
padding-left: 40px!important;
padding-right: 40px!important;
// border-top-left-radius: 30px;
// border-top-right-radius: 30px;
top: 229px;
background: url(../../assets/shapes/sign-up-shape-1.svg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
.btn-height{
  height: 45px;
}
.form{
  position: absolute;
}

.form-wp{
  float: none;
}
.input-row{
  margin-bottom: 30px;
}

.input-row .form-control{
  border-radius: 10px;
}

.float-right{
  float: right;
}


.header-md:after{
  background-image: none!important;
  // background:var(--ion-color-primary);

}