<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/app/tabs/dashboards/push-network"></ion-back-button>
      </ion-buttons>
      <!-- <ion-title>{{ post.title }}</ion-title> -->
      <ion-title>Tittle Goes Here</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content  class="post-detail ion-padding">
    <div>
      <div ion-item class="wrapper">
        <ion-text>
          <p class="date-single-post">
            <ion-row>
              <ion-col size="8">
                <span> 20th September, 2019</span>
              </ion-col>
              <!-- <ion-col size="4">
                <li class="devotion-length">{{getDevotionLength( post.body)}} &nbsp; Min Read</li>
              </ion-col> -->
            </ion-row>
          </p>
        </ion-text>
        <h3 class="post-title">Titlle</h3>
        <p class="post-reference">
         Nazeh Abel
        </p>
      </div>
    </div>
    <!-- main post content -->
    <ion-grid class="no-padding">
      <ion-row class="post-content">
        <ion-text>
          <!-- {{ post.body }} -->
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur repellat totam deserunt modi tenetur dolorum illum, numquam sit, debitis maxime pariatur voluptatibus. Amet iste officia recusandae, quam aliquam voluptatibus consequatur?
              </ion-text>
      </ion-row>
    </ion-grid>
  </ion-content>
  <!-- <ion-footer>
    <ion-toolbar>
      <ion-title>
  
        <ion-row class="footer-icons">
          <ion-col class="ion-text-center" size="6" [ngClass]="{'show-favorite': isFavorite}">
            <ion-icon name="heart-empty" class="favourite" size="large" class="ion-text-center" class="icon-heart-empty"
              (click)="toggleFavorite()"></ion-icon>
            <ion-icon name="heart" color="danger" size="large" class="icon-heart" (click)="toggleFavorite()"></ion-icon>
          </ion-col>
          <ion-col class="share" size="6" class="ion-text-center" [ngClass]="{ 'show-favorite': isFavorite }">
            <ion-icon name="share" size="large" class="icon-share-alt" (click)="regularShare(i)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-title>
    </ion-toolbar>
  </ion-footer> -->
  