<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/dashboards"></ion-back-button>
    </ion-buttons>
    <ion-title>Requests</ion-title>
  </ion-toolbar>
  <!-- end of main header toolbar -->
</ion-header>

<ion-content padding>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora porro eveniet nulla nihil harum cumque quibusdam repellendus inventore, dicta temporibus dolor quaerat numquam deleniti necessitatibus error voluptas odio accusamus minus!
</ion-content>
