<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button ></ion-back-button>
          </ion-buttons>
      <ion-title>All Prayers</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  <ion-row>
    <ion-col>
        <ion-item-sliding>
            <ion-item-options side="start">
              <ion-item-option color="danger" expandable>
                Delete
              </ion-item-option>
            </ion-item-options>      
            <ion-item lines="inset" [routerLink]="['/app/tabs/dashboards/push-network/prayer']">
                <ion-label class="ion-text-wrap">
                  <ion-text><h2>Word Clip Title Name</h2></ion-text>
                  <p class="date">May 20, 2019</p>
                </ion-label>
                <ion-label>
  
                </ion-label>
              </ion-item>     
            <ion-item-options side="end">
              <ion-item-option color="tertiary" expandable>
                Edit
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          <ion-item-sliding>
              <ion-item-options side="start">
                <ion-item-option color="danger" expandable>
                  Delete
                </ion-item-option>
              </ion-item-options>      
              <ion-item lines="inset">
                  <ion-label class="ion-text-wrap">
                    <ion-text><h2>Word Clip Title Name</h2></ion-text>
                    <p class="date">May 20, 2019</p>
                  </ion-label>
                  <ion-label>
                    
                  </ion-label>
                </ion-item>     
              <ion-item-options side="end">
                <ion-item-option color="tertiary" expandable>
                  Edit
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
            <ion-item-sliding>
                <ion-item-options side="start">
                  <ion-item-option color="danger" expandable>
                    Delete
                  </ion-item-option>
                </ion-item-options>      
                <ion-item lines="inset">
                    <ion-label class="ion-text-wrap">
                      <ion-text><h2>Word Clip Title Name</h2></ion-text>
                      <p class="date">May 20, 2019</p>
                    </ion-label>
                    <ion-label>
                      
                    </ion-label>
                  </ion-item>     
                <ion-item-options side="end">
                  <ion-item-option color="tertiary" expandable>
                    Edit
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
    </ion-col>
  </ion-row>
  </ion-content>