<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/dashboards"></ion-back-button>
    </ion-buttons>
    <ion-title>Bookmark</ion-title>
  </ion-toolbar>
  <!-- end of main header toolbar -->
</ion-header>
<ion-content padding>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, laboriosam aperiam autem molestias, fuga repellat, dicta sapiente error culpa expedita accusamus incidunt tenetur unde aspernatur ipsam ullam illo. Quisquam, eaque?
</ion-content>
