<ion-header>
  <ion-toolbar>
    <!-- <ion-title>daily-verse</ion-title> -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/dashboards"></ion-back-button>
    </ion-buttons>
    <ion-title>Daily Verse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card *ngFor="let verse of verses">
        <ion-item>
          <ion-label>
            <ion-text>{{verse.reference}}</ion-text>
            <p style="display: inline-block;float: right;">
              <ion-button fill="outline">{{verse.createdDate | date}}</ion-button>
            </p>
          </ion-label>
        </ion-item>
        <ion-card-content [innerHTML]="verse.content">
          
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
