  <ion-header>
      <ion-toolbar>
          <ion-buttons slot="start">
              <ion-back-button ></ion-back-button>
            </ion-buttons>
        <ion-title>Daily Nudget</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      
        <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-content>            
                  <ion-row>
                    <ion-col>
                      <ion-item lines="none" >
                        <ion-label class="ion-text-wrap">
                          <ion-text><h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus sunt recusandae eius, fuga nesciunt temporibus, magnam saepe, possimus dolor et est dolorem. Aliquam, eligendi fugiat perferendis maxime amet blanditiis laudantium. </h2></ion-text>
                          <p class="date inline">May 20, 2019</p>
                          <p class="date inline"><ion-icon name="share"></ion-icon></p>
                        </ion-label>
                      </ion-item>
                    </ion-col>                 
                  </ion-row>
                </ion-card-content>
              </ion-card>
              <ion-card>
                <ion-card-content>            
                  <ion-row>
                    <ion-col>
                      <ion-item lines="none" >
                        <ion-label class="ion-text-wrap">
                          <ion-text><h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus sunt recusandae eius, fuga nesciunt temporibus, magnam saepe, possimus dolor et est dolorem. Aliquam, eligendi fugiat perferendis maxime amet blanditiis laudantium. </h2></ion-text>
                          <p class="date inline">May 20, 2019</p>
                          <p class="date inline"><ion-icon name="share"></ion-icon></p>
                        </ion-label>
                      </ion-item>
                    </ion-col>                 
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
    </ion-content>
    