  <ion-header>
      <ion-toolbar>
          <ion-buttons slot="start">
              <ion-back-button ></ion-back-button>
            </ion-buttons>
        <ion-title>Daily Nudget</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      
        <ion-row>
            <ion-col>
              <ion-card *ngFor="let nudget of nudgets">
                <ion-card-content>            
                  <ion-row>
                    <ion-col>
                      <ion-item lines="none"  >
                        <!-- <ion-text>
                          Author:{{nudget.author || "KSI"}} 
                        </ion-text> -->
                        <ion-label class="ion-text-wrap">
                          <ion-text><h2 [innerHTML]="nudget.content"> {{nudget.content}}</h2></ion-text>
                          <p class="date inline">{{nudget.createdDate | date}}</p>
                          <p class="date inline" (click)="shareNudget(nudget)"><ion-icon name="share"></ion-icon></p>
                        </ion-label>
                      </ion-item>
                    </ion-col>                 
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
    </ion-content>
    