<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/notes"></ion-back-button>
    </ion-buttons>
    <ion-buttons (click)="deleteNote(note.createdDate)" class="clipboard" slot="end">
        <ion-icon slot="start" name="trash"></ion-icon>
        &nbsp; &nbsp;
        <ion-icon (click)="createNote()" name="create"></ion-icon>
        &nbsp;
      </ion-buttons>
    <!-- <ion-title>{{ post.title }}</ion-title> -->
    <ion-title>{{note?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="post-detail ion-padding">
  <div>
    <div ion-item class="wrapper">
      <ion-text>
        <p class="date-single-post">
          <ion-row>
            <ion-col size="8">
              <span class="date"> 
                {{
                  note?.createdDate | date
                }}
              </span>
            </ion-col>
          </ion-row>
        </p>
      </ion-text>
    </div>
  </div>
  <!-- main post content -->
  <ion-grid class="no-padding">
    <ion-row class="post-content">
      <ion-text>
       {{
         note?.note
       }}
      </ion-text>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- <ion-footer>
    <ion-toolbar>
      <ion-title>
  
        <ion-row class="footer-icons">
          <ion-col class="ion-text-center" size="6" [ngClass]="{'show-favorite': isFavorite}">
            <ion-icon name="heart-empty" class="favourite" size="large" class="ion-text-center" class="icon-heart-empty"
              (click)="toggleFavorite()"></ion-icon>
            <ion-icon name="heart" color="danger" size="large" class="icon-heart" (click)="toggleFavorite()"></ion-icon>
          </ion-col>
          <ion-col class="share" size="6" class="ion-text-center" [ngClass]="{ 'show-favorite': isFavorite }">
            <ion-icon name="share" size="large" class="icon-share-alt" (click)="regularShare(i)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-title>
    </ion-toolbar>
  </ion-footer> -->
