.sc-ion-card-md-h, .card-conten-md{
    -webkit-box-shadow:none;
    box-shadow:none;
    padding-top:0;
    padding-top:0!important;
    -webkit-padding-start: 0; 
    padding-inline-end: 0; 
    -webkit-padding-end: 0;
    padding: 0;
    
    
}
ion-card-content{
    padding: 0;
}
.sc-ion-card-ios-h, .card-conten-ios{
    -webkit-box-shadow:none;
    box-shadow:none;
    -webkit-padding-start: 0; 
    padding-inline-end: 0; 
    -webkit-padding-end: 0;
}
.videoGrid{
    padding:0;
}
ion-card{
    padding: 0;
    margin: 0;
}

.videoThumbnai{
padding: 0;
}

.successText{
    color: teal;
}