<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>PODCAST <ion-icon name="microphone"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
        <ion-list>    
            <ion-item>
                <ion-thumbnail slot="start">
                  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                </ion-thumbnail>
                <ion-label>
                  <h2>Podcast Name goe here</h2>
                  <p class="podcast-description">Searching the lost</p>
                </ion-label>
                <ion-text class="date">
                  20 May,
                  <br/>
                  2019
                </ion-text>
              </ion-item>
              
              <ion-item>
                  <ion-thumbnail slot="start">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                  </ion-thumbnail>
                  <ion-label>
                    <h2>Podcast Name goe here</h2>
                    <p class="podcast-description">Searching the lost</p>
                  </ion-label>
                  <ion-text class="date">
                    20 June,
                    <br/>
                    2019
                  </ion-text>
                </ion-item>
                <ion-item>
                    <ion-thumbnail slot="start">
                      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                    </ion-thumbnail>
                    <ion-label>
                      <h2>Podcast Name goe here</h2>
                      <p class="podcast-description">Searching the lost</p>
                    </ion-label>
                    <ion-text class="date">
                      20 April,
                      <br/>
                      2019
                    </ion-text>
                  </ion-item>
                  <ion-item>
                      <ion-thumbnail slot="start">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                      </ion-thumbnail>
                      <ion-label>
                        <h2>Podcast Name goe here</h2>
                        <p class="podcast-description">Searching the lost</p>
                      </ion-label>
                      <ion-text class="date">
                        20 Aug,
                        <br/>
                        2019
                      </ion-text>
                    </ion-item>
                    <ion-item>
                        <ion-thumbnail slot="start">
                          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                        </ion-thumbnail>
                        <ion-label>
                          <h2>Podcast Name goe here</h2>
                          <p class="podcast-description">Searching the lost</p>
                        </ion-label>
                        <ion-text class="date">
                          20 Sept,
                          <br/>
                          2019
                        </ion-text>
                      </ion-item>     
          </ion-list>
    </ion-col>
  </ion-row>

  <!-- this will show when there is no content -->
  <!-- <div class="row-empty-podcast" *ngIf="counter <= 0">
      <ion-row class="empty-podcast">
          <ion-col class="text-center" text-center>
            <p class="podcast-empty-text">No Podcast Available!</p>
             <p class="empty-podcast-img"></p>
          </ion-col>
        </ion-row>
  </div> -->
</ion-content>
