<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>PODCAST <ion-icon name="microphone"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid class="videoGrid">
    <ion-row>
      <!-- <ion-col class="videoThumbnai">
          <ion-card>
            
            <ion-card-content>
                <img src="../../assets/img/speakers/lion.jpg" />
              </ion-card-content>
            </ion-card>
       </ion-col>
     </ion-row>
     <ion-row class="ion-text-center" style="background:#fff; margin-top:14px;">
       <ion-col>
         <div class="">
           <ion-button fill="outline" expand="block" (click)="playMedia()">
              <ion-icon name="play"></ion-icon>&nbsp;
              <span>Play</span>
           </ion-button>
         </div>
       </ion-col>
       <ion-col>
          <div class="">            
            <ion-button fill="outline" expand="block">
               <ion-icon name="pause"></ion-icon> &nbsp;
              <span>Pause</span>
            </ion-button>
          </div>
        </ion-col> -->
      <!-- <ion-col>
            <div class="">
              <span>Pause</span>
            </div>
          </ion-col> -->
      <ion-col>
        <ion-list>
          <ion-item button *ngFor="let song  of  playlist" (click)="startPodcast(song)">
              <ion-thumbnail slot="start">
                  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                </ion-thumbnail>
            <ion-label [color]="song == activeTrack ? 'success' : 'primary'">
              {{song.filename}}
            </ion-label>
            <ion-text class="date">
                <!-- 20 May,
                <br/>
                2019 -->
                {{currentDate | date}}
              </ion-text>
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
    <ion-row>
        <!-- this will show when there is no content -->
  <div class="row-empty-podcast" *ngIf="counter <= 0">
      <ion-row class="empty-podcast">
          <ion-col class="text-center" text-center>
            <p class="podcast-empty-text">No Podcast Available!</p>
             <p class="empty-podcast-img"></p>
          </ion-col>
        </ion-row>
  </div>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer *ngIf="activeTrack">
  <ion-toolbar color="dark">
    <ion-row>
      <ion-col size="12" class="ion-text-center" >
      <span class="successText"> {{activeTrack.filename}}</span>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
          <!-- <ion-item> -->
            <ion-range #progressBarRange color="success" max="100" (touched)="seek()" (mouseup)="seek()"  [(ngModel)]="progressBar">
            </ion-range>
          <!-- </ion-item> -->
        </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button fill="clear" (click)="prev()" color="light">
          <ion-icon slot="icon-only" name="skip-backward"></ion-icon>
        </ion-button>

        <ion-button fill="clear" (click)="togglePlayer(false)" *ngIf="!isPlaying" color="light">
          <ion-icon slot="icon-only" name="play"></ion-icon>
        </ion-button>

        <ion-button fill="clear" (click)="togglePlayer(true)" *ngIf="isPlaying" color="light">
          <ion-icon slot="icon-only" name="pause"></ion-icon>
        </ion-button>

        <ion-button fill="clear" (click)="next()" color="light">
          <ion-icon slot="icon-only" name="skip-forward"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>


<!-- <ion-content>
  <ion-row>
    <ion-col>
        <ion-list>    
            <ion-item routerLink="/app/tabs/inspire-impact/podcast-details">
                <ion-thumbnail slot="start">
                  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                </ion-thumbnail>
                <ion-label>
                  <h2>Podcast Name goe here</h2>
                  <p class="podcast-description">Searching the lost</p>
                </ion-label>
                <ion-text class="date">
                  20 May,
                  <br/>
                  2019
                </ion-text>
              </ion-item>
              
              <ion-item>
                  <ion-thumbnail slot="start">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                  </ion-thumbnail>
                  <ion-label>
                    <h2>Podcast Name goe here</h2>
                    <p class="podcast-description">Searching the lost</p>
                  </ion-label>
                  <ion-text class="date">
                    20 June,
                    <br/>
                    2019
                  </ion-text>
                </ion-item>
                <ion-item>
                    <ion-thumbnail slot="start">
                      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                    </ion-thumbnail>
                    <ion-label>
                      <h2>Podcast Name goe here</h2>
                      <p class="podcast-description">Searching the lost</p>
                    </ion-label>
                    <ion-text class="date">
                      20 April,
                      <br/>
                      2019
                    </ion-text>
                  </ion-item>
                  <ion-item>
                      <ion-thumbnail slot="start">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                      </ion-thumbnail>
                      <ion-label>
                        <h2>Podcast Name goe here</h2>
                        <p class="podcast-description">Searching the lost</p>
                      </ion-label>
                      <ion-text class="date">
                        20 Aug,
                        <br/>
                        2019
                      </ion-text>
                    </ion-item>
                    <ion-item>
                        <ion-thumbnail slot="start">
                          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                        </ion-thumbnail>
                        <ion-label>
                          <h2>Podcast Name goe here</h2>
                          <p class="podcast-description">Searching the lost</p>
                        </ion-label>
                        <ion-text class="date">
                          20 Sept,
                          <br/>
                          2019
                        </ion-text>
                      </ion-item>     
          </ion-list>
    </ion-col>
  </ion-row>
</ion-content> -->
