<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title *ngIf="!isUpdate">Share Your Prayer Point</ion-title>
    <ion-title *ngIf="isUpdate">Edit Your Prayer Point</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="updatePrayer()">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <form  #prayers="ngForm">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Prayer Point Title</ion-label>
            <ion-input [(ngModel)]="prayer.title" name="title" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="text-area" lines="none">
            <ion-label position="floating">Write Your Prayer Point Here!</ion-label>
            <ion-textarea rows="20" [(ngModel)]="prayer.content" name="content" required></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
