<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>Word Clips</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-img
            src="https://media.swncdn.com/cms/CW/faith/39891-HolyBible-Bible-read-ThinkstockPhotos-585291064.1200w.tn.jpg">
          </ion-img>
        </ion-card-content>
        <ion-row>
          <ion-col>
            <ion-item lines="inset">
              <ion-label class="ion-text-wrap">
                <ion-text><h2>Word Clip Title Name</h2></ion-text>
                <p class="date">May 20, 2019</p>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p align="center">
              <ion-icon class="icon" name="share"></ion-icon>
            </p>
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
            <p align="center">
              <ion-icon class="icon" name="download"></ion-icon>
            </p>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-img
              src="https://media.swncdn.com/cms/CW/faith/39891-HolyBible-Bible-read-ThinkstockPhotos-585291064.1200w.tn.jpg">
            </ion-img>
          </ion-card-content>
          <ion-row>
            <ion-col>
              <ion-item lines="inset">
                <ion-label class="ion-text-wrap">
                  <ion-text><h2>Word Clip Title Name</h2></ion-text>
                  <p class="date">May 20, 2019</p>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p align="center">
                <ion-icon class="icon" name="share"></ion-icon>
              </p>
            </ion-col>
            <ion-col>
            </ion-col>
            <ion-col>
              <p align="center">
                <ion-icon class="icon" name="download"></ion-icon>
              </p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
</ion-content>
