<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>Word Clips</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col >
      <ion-card *ngFor="let wordclip of wordClips">
        <ion-card-content>
          <ion-img
            [src]="wordclip.imgUrl">
          </ion-img>
        </ion-card-content>
        <ion-row>
          <ion-col>
            <ion-item lines="inset">
              <ion-label class="ion-text-wrap">
                <ion-text><h2>{{wordclip.caption}}</h2></ion-text>
                <ion-text>
                  {{wordclip.message}}
                </ion-text>
                <p class="date">{{wordclip.createdDate | date}}</p>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p align="center">
              <ion-icon class="icon" name="share"></ion-icon>
            </p>
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
            <p align="center">
              <ion-icon class="icon" name="download"></ion-icon>
            </p>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
