 .clipboard{
    font-size: 30px;
  }

  .list-item{
    --background: #3bc7c41f;
    background: #3bc7c41f;
    height: 40px;
    line-height: 49px;
    border-bottom: 0.5px solid #3bc7c41f;
    padding:13px;

  }
  .list-item:last-child{    
    border-bottom:0!important;

  }
  .note-title{
    font-size:18px;
    vertical-align: middle;
    text-align: center;
    line-height: 10px;
    align-self: center;
    align-content: center;
  }
  .note-date{
    float: right;
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
    color: var(--ion-color-primary);
  }

  .ion-activatable {
    position: relative;
    overflow: hidden;
  }
  .isWhite{
    --background:#fff;
    background:#fff;
  }