<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/Mainlogin"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
      <!-- intro text wrp -->
      <div class="login-text-top" padding-top>
        <ion-col col-12 text-center>
          <!-- app  logo -->
          <div class="splash-logo"></div>
        </ion-col>
        <!-- instruction text -->
        <div class="" text-center>
          <ion-text class="text-instruction">
            Kindly provide the email you use while creating the account for password reset
          </ion-text>
        </div>
      </div>
    <!-- login form -->
    <form #forgotpassowrd="ngForm" novalidate>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Email Address</ion-label>
          <ion-input type="email"  name="emails" inputmode="email" clearInput required></ion-input>
        </ion-item>
        <ion-text color="danger">
            <!-- <p [hidden]="email.valid || submitted == false" padding-left>
              username is required
            </p> -->
          </ion-text>
      </ion-list>
      <div class="login-btn"></div>
      <ion-button expand="block" color="primary" (click)="resetPassword()" fill="outline"
        >Reset Password
        <ion-ripple-effect></ion-ripple-effect>
      </ion-button>
    </form>

  </ion-content>  
