<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/dashboards"></ion-back-button>
    </ion-buttons>
    <ion-title>Insights</ion-title>
  </ion-toolbar>
  <!-- end of main header toolbar -->
</ion-header>

<ion-content padding>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae nihil iure ea assumenda sunt. Nihil aspernatur omnis est culpa inventore quaerat commodi porro eum ullam reprehenderit in, labore aliquam dolores?
</ion-content>
