<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>All Notes</ion-title>
  </ion-toolbar>
  <!-- end of main header toolbar -->
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>
      Item
    </ion-label>
  </ion-item>
  
  <!-- Item as a Button -->
  <ion-item (click)="buttonClick()">
    <ion-label>
      Button Item
    </ion-label>
  </ion-item>
  
  <!-- Item as an Anchor -->
  <ion-item href="https://www.ionicframework.com">
    <ion-label>
      Anchor Item
    </ion-label>
  </ion-item>
  
  <ion-item color="secondary">
    <ion-label>
      Secondary Color Item
    </ion-label>
  </ion-item>
</ion-content>
