<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
<!-- header toolbar -->
    <ion-segment [(ngModel)]="segment" (ionChange)="updatePosts()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>
    <ion-buttons slot="end">
      <ion-button (click)="presentFilter()">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
<!-- end of main header toolbar -->
</ion-header>

<ion-content class="outer-content">
<div class="">
    <!-- search wrap -->
<ion-toolbar fixed>
  <!-- <div class="search-wrapper">

  </div> -->
    <ion-searchbar animated [(ngModel)]="queryText"  (ionChange)="filteredPosts($event)" placeholder="Search for a devotion "></ion-searchbar>

  </ion-toolbar>
  <!-- search wrap -->
  
</div>
<ion-list>
  <ion-grid fixed>
    <ion-row class="ion-align-items-stretch"  #postList [hidden]="shownSessions === 0">
      <ion-col size="12" size-md="6" *ngFor="let post of posts" [hidden]="post.hide">
        <!-- post item -->
        <ion-item-sliding>
          <div>  
            <ion-item detail lines="inset" routerLink="/single-post/{{post.id}}">
              <ion-text>
                  <h4 class="devotion-topic">
                      The Amazing grace that saves
                    </h4>
                    <p class="devotion-date">
                        20th September, 2019
                         <!-- {{post.date}}  -->
                    </p>
                    <p class="devotion-excerpt">
                         {{post.excerpt}}
                    </p>
              </ion-text>
            </ion-item>
            <ion-item-options>
                <ion-item-option color="favorite" (click)="addFavorite(slidingItem, post)" *ngIf="segment === 'all'">
                  Favorite
                </ion-item-option>
                <ion-item-option color="danger" (click)="removeFavorite(slidingItem, post, 'Remove Favorite')" *ngIf="segment === 'favorites'">
                  Remove
                </ion-item-option>
              </ion-item-options>
          </div>
        </ion-item-sliding>
      </ion-col>
    </ion-row>
    <ion-list-header [hidden]="shownSessions > 0">
   <ion-row class="row-empty-note">
     <ion-col class="text-center" text-center>
       <p class="note-empty-text">No Favorite Devotion!</p>
        <p class="empty-note">
          
        </p>
     </ion-col>
   </ion-row>
    </ion-list-header>
  </ion-grid>
</ion-list>
</ion-content>
